{
    "env": {
        "browser": true,
        "amd": true
    },
    "globals": {
        "DocumentFragment": true
    },
    "rules": {
        "valid-jsdoc": 0,
        "no-multi-spaces": 0,
        "key-spacing": 0,
        "comma-spacing": 0,
        "no-shadow": 0,
        "curly": [0, "multi"],
        "brace-style": [0, "stroustrup"],
        "consistent-this": 2,
        "no-constant-condition": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "func-names": 0,
        "func-style": [2, "declaration"],
        "new-cap": 1,
        "new-parens": 2,
        "no-ternary": 0,
        "no-unused-vars": [0, {"vars": "local", "args": "none"}],
        "quotes": [2, "single"],
        "one-var": 0,
        "space-infix-ops": 0,
        "strict": 0
    }
}
